 <div class="main_header">
            <div class="brand_nav_cart">            
                <div class="brand">
                    <button class="toggle_botton">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <a href="{% url 'home-page' %}"><h2>Bookies Store</h2></a>
                </div>
                <ul class="nav_items">
                    <li><a href="#">BOOKSTORE</a></li>
                    <li><a href="#">CATEGORIES</a></li>
                    <li><a href="#">MY ACCOUNT</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
                <div class="user_cart">
                    <span><i class="fas fa-shopping-cart"></i></span>
                    <span><i class="fas fa-user"></i></span>
                </div>
            </div>
            <div class="modal">
                
            </div>
            <div class="mobile_nav">
                <nav>
                    <ul class="nav_items">
                        <li><a href="#">BOOKSTORE</a></li>
                        <li><a href="#">CATEGORIES</a></li>
                        <li><a href="#">MY ACCOUNT</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
        </div>